@model List<PrisonerCrime>

@{
    ViewData["Title"] = "Kalinio nusikaltimai";
}

<h1>Kalinio nusikaltimai</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Crime.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crime.Name)
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Grįžti į sąrašą</a>
</div>

